.home {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(1rem + 1.5vmin);
    justify-content: center;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
}


.mode{
    display: flex;  
    justify-content: space-evenly;  

}
.start{
    border-radius: 38px;
    opacity: 1;
    color: white;
    background-color: #0097e6;
    width: 156px;
    height: 76px;
    border-radius: 38;
    cursor: pointer;
    margin-top: 1.6rem;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.start:hover{
    background-color: #00A8FF;
}

.start::after{
    background-color: #0075B3;
}

.text{
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
}

.icon{
    margin-left: 0.7rem;
    width: 30px;
    height: 30px;
    color: white;
    filter: invert(1);
}

.face{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.robot{
    margin-left: 0.7rem;
    width: 30px;
    height: 30px;
    margin-right: 0.7rem;
    filter: invert(1);
}

.mask{
    width: 100%;
    height: auto;
    max-width: 42.938rem;
    max-height: 37rem;
    background-color: white;
    border-radius: 1rem 1rem 0 0;    
}


.full{
    width: 100%;
    max-width: 15.739rem;
    max-height: 13.563rem;
    height: auto;
    position: absolute;
}

.panel{
    width: 42.938rem;
    height: 45rem;
    border-radius: 1rem;
    background-color: white;
    margin-top: 3.6rem; 
}

@media (min-width: 1200px) {
    .home {
        max-width: 60vw;
    }
}
